body
{
    background-color: rgb(30, 32, 43);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 5px 25px;
}

.nav-underline a.nav-link.active {
    color: #009AD8;
    border: #009AD8 2px solid;
    border-radius: 30px;

}
.nav-underline .nav-link {
    transition: all 0.5s;
    border-bottom: none;
    border: transparent 2px solid;
    border-radius: 30px;
}
.nav-underline .nav-link:hover {
    color: #009AD8;
    border: #009AD8 2px solid;
    
}
.nav-underline a.nav-link {
    color: white;

}
.app-container
{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
}

.bg-main-color
{
    background-color: rgba(30, 32, 43, 0.905);
}

.bg-sec-color
{
    background-color:#262936d1;
}

.footer-icons
{
    width: 20px;
    height: 20px;
}

.text-light-blue
{
    color:#009ad8;
}
